<html>
	<head>
		<script src="/client/scripts/external/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/client/scripts/external/handlebars.js" type="text/javascript"></script>
        <script src="/client/scripts/external/ember-1.0.0-pre.4.min.js" type="text/javascript"></script>
        <script src="/client/scripts/external/ember-data.pre.4.js" type="text/javascript"></script>
        <script src="/client/scripts/em.js" type="text/javascript"></script>
	</head>
	<body>
		{% raw %}
			<script type="text/x-handlebars" data-template-name="application">
	            <h1>
	                Hello Hackdays!
	            </h1>
	            <div>
	                {{outlet}}
	            </div>
	            <footer>
	                Made using ember.
	            </footer>
	        </script>

	        <script type="text/x-handlebars" data-template-name="movies">
	            <h2>
	                List of movies
	            </h2>

	            <ul>
	            	{{#each movie in content}}
	            		<li>{{movie.name}}  {{movie.rating}}</li>
	            	{{/each}}
	            </ul>

	        </script>
		{% endraw %}
	</body>
</html>
