<html>
	<head>
		<link rel="stylesheet" type="text/css">
		<style>
		  ul.movies {
		  	list-style-type: none;
		  }
		  ul.movies li {
		  	max-width: 300px;
		  }
	      .highlight {
	        background-color: paleturquoise;
	      }
		</style>
		<script src="/client/scripts/external/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/client/scripts/external/handlebars.js" type="text/javascript"></script>
        <script src="/client/scripts/external/ember-1.0.0-pre.4.min.js" type="text/javascript"></script>
        <script src="/client/scripts/external/ember-data.pre.4.js" type="text/javascript"></script>
        <script src="/client/scripts/em.js" type="text/javascript"></script>
	</head>
	<body>
		{% raw %}
			<script type="text/x-handlebars" data-template-name="application">
	            <div>
	                {{outlet}}
	            </div>
	            <footer style="margin-top:100px;font-size:12px;">
	                Made using ember.js :)
	            </footer>
	        </script>

	        <script type="text/x-handlebars" data-template-name="movies">
	        	{{outlet createMovie}}	
	            <h3>
	                List of movies
	            </h3>
	            <ul class="movies">
	            	{{#each movie in content}}
	            		<li {{bindAttr class="movie.mustSee:highlight"}}>{{#linkTo "movie" movie}}{{movie.name}} {{movie.rating}} / 5 {{/linkTo}}</li>
	            	{{/each}}
	            </ul>
	        </script>

	        <script type="text/x-handlebars" data-template-name="createMovie">
                {{view Ember.TextField
                        valueBinding="name"
                        placeholder="Movie name"}}

                {{view Ember.TextField 
                        valueBinding="rating" 
                        placeholder="Rating out of 5"}}

                <input type="submit" {{action submit}}/>
	        </script>

	        <script type="text/x-handlebars" data-template-name="movie">
	        	<div>{{#linkTo "movies"}} All movies {{/linkTo}}</div>
	        	</br>
	            <div>{{name}}</div>
	            <div>Rating: {{rating}} / 5 </div>
	        </script>
		{% endraw %}
	</body>
</html>
