<html>
	<head>
		<script src="/client/scripts/external/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/client/scripts/external/handlebars.js" type="text/javascript"></script>
        <script src="/client/scripts/external/ember-1.0.0-pre.4.min.js" type="text/javascript"></script>
        <script src="/client/scripts/external/ember-data.pre.4.js" type="text/javascript"></script>
        <script src="/client/scripts/em.js" type="text/javascript"></script>
	</head>
	<body>
		{% raw %}
			<script type="text/x-handlebars" data-template-name="application">
	            <div>
	                {{outlet}}
	            </div>
	            <footer>
	                Made using ember.
	            </footer>
	        </script>

	        <script type="text/x-handlebars" data-template-name="movies">
	        	{{outlet createMovie}}	
	            <h2>
	                List of movies
	            </h2>
	            <ul>
	            	{{#each movie in content}}
	            		<li>{{movie.name}} {{movie.rating}} / 5</li>
	            	{{/each}}
	            </ul>
	        </script>

	        <script type="text/x-handlebars" data-template-name="createMovie">
                {{view Ember.TextField
                        valueBinding="name"
                        placeholder="Movie name"}}

                {{view Ember.TextField 
                        valueBinding="rating" 
                        placeholder="Rating out of 5"}}

                <input type="submit" {{action submit}}/>
	        </script>

	        <script type="text/x-handlebars" data-template-name="movie">
	            <h2>{{name}}</h2>
	            <div>{{rating}}</div>
	        </script>
		{% endraw %}
	</body>
</html>
